.btn-outline-success{
    color: chocolate;
    border-color: chocolate;
    border: none;
}

.btn-outline-success:hover{
    background-color: rgb(240, 222, 209);
    color: white;
    border: none;
}

.me-2{
    border: none;
    background-color: transparent;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link
{
    color: white;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: white;
}

.navbar-light .navbar-brand{
    color: white;
}
.container-fluid{
    background-color: transparent;
    color: white;
    z-index: 10;
}
.text-center h1{
    margin-top: 100px;
}

.slide{
    margin-top: -57px;

}

.container{
    margin-top: 100px;
}

.card{
    border: none;

}

footer{
    background-color: black;
    color: white;
}

footer img{
    width: 17px;
}

.first-line{
    border-bottom: #392d23 solid 1px;
}

.second-line a{
    color: white;
    text-decoration: none;
}